body {
    font-family: 'Slabo 27px', serif;
    background:url('images/bg.jpg') no-repeat 30% 75%;
    margin:20px;
}
label {
    display:block;
}

.hide {
    display:none;
}

.game-enter {
    margin-bottom:20px;
}

.card {
    border:1px solid gray;
}

.card.green {
    width:199px;
    height:274px;

}

.card.red {
    width:150px;
    height:250px;
}
.card.red.facedown {
    width:100px;
    height:137px;
}
.card.red.facedown span {
    display:none;
}
.card span {
    display: block;
    font-size: 20px;
    left: -72px;
    position: relative;
    text-align: right;
    top: 100px;
    transform: rotate(-90deg);
    width: 200px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.card.green span {
    font-size:30px;
}

.player {
    clear:both;
    overflow:auto;
}

.player.star {
    background-color:green;
}

.player .card {
    float:left;
    margin-left:-100px;
}

.player .card:first-child {
    margin-left:0;
}

.player .card.chosenred {
    background-color:red;
}

.deal-green {
    float:left;
}

.deal-red {
    margin-left:400px;
}

.deal-red .card.winner {
    border:3px solid red;
}
.deal {
    clear:both;
    overflow:auto;
}